<div class="golftourninfo">
 <h1><%= @event.tourn_name %></h1>
 <h3 class="dateduration"><%= @event.formatted_date_duration %> </h3>
 <!-- <h4><%= @event.location %> </h4> -->
 <h4><%= @event.location %> </h2>
 <h5>Par: <span><%= @event.course_par %></span>
  Yardage: <span><%= @event.yards %></span>
 </h5>
 <h5>Previous Winner: <span><%= @event.prev_champion.try(:full_name) %></span> </h5>
</div>
